.product-list {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: scroll;
    gap: 50px;

}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 350px;
    background: #fff;
    padding: 0  0 20px 0;
    margin: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}

.product-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    margin: 20px 0 20px 0;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  
}

.buy-btn,
.cart-btn {
    font-size: 1.2rem;
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;

}
.buy-btn:hover,.cart-btn:hover{
    cursor: pointer;
}
